.nav-container-absolue {
  position: absolute;
  bottom: 10%;
  right: 0;
  width: 100%;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-link-container {
  text-align: center;
  background-color: #253641;
  margin: 0.5em;
  padding: 1em;
  width: 100%;
}
.nav-link {
  font: 1.5em;
  color: #fff;
  text-decoration: none;
}
