.projects-container {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, 330px);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

// .back-icon {
//   position: absolute;
//   z-index: 100;
//   top: 1em;
//   left: 1em;
//   border-radius: 100%;
//   font-size: 1.5em;
//   padding: 1em;
//   width: 1em;
//   height: 1em;
//   background-color: #385162;
//   text-align: center;
// }

// .back-icon:hover {
//   background-color: #7095af;
// }
.back-btn {
  color: #fff;
  text-decoration: none;
  margin: 1em;
}
.back-btn:hover {
  color:#7095af;
}
